@import "../../assets/Styles/variables.scss";
@import "../../assets/Styles/mixin.scss";

.globallayout {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	main {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		// align-content: flex-start;
		align-items: flex-start;
		width: 100%;
		aside {
			flex: 0 0 120px;
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: space-around;
			align-content: center;
			padding: 0 4px;
			background-color: $black-color;
			.copyright {

				width: 100%;
				height: 100%;
				writing-mode: vertical-rl;
				text-orientation: sideways;
				transform: rotate(180deg);
				text-align: center;
				padding: 2px;
				font-size: 2rem;
			}
		}
		.content {
			.horizontalmainarea {
				grid-area: horizontalmainarea;
			}
			.horizontalsecondaryarea {
				grid-area: horizontalsecondaryarea;
			}
			.verticalarea {
				grid-area: verticalarea;
			}
			.titlearea {
				grid-area: titlearea;
				color: $black-color;
			}
			.congratsarea {
				grid-area: congratsarea;
			}

			margin-left: 14px;
			flex: 0 0 90%;
			display: grid;
			gap: 30px;
			// height: 1;
			grid-template-columns: 2fr 1fr 1fr 1fr;
			grid-template-rows: repeat(4, 180px) 260px;
			grid-template-areas:
				"titlearea titlearea titlearea titlearea"
				"congratsarea congratsarea congratsarea congratsarea"
				"horizontalmainarea horizontalmainarea horizontalmainarea verticalarea"
				"horizontalmainarea horizontalmainarea horizontalmainarea verticalarea"
				"horizontalsecondaryarea horizontalsecondaryarea horizontalsecondaryarea verticalarea";
		}
	}
}
