.globallayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.globallayout main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.globallayout main aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 4px;
  background-color: #000000;
}

.globallayout main aside .copyright {
  width: 100%;
  height: 100%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: sideways;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-align: center;
  padding: 2px;
  font-size: 2rem;
}

.globallayout main .content {
  margin-left: 14px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
  -ms-grid-rows: (180px)[4] 260px;
      grid-template-rows: repeat(4, 180px) 260px;
      grid-template-areas: "titlearea titlearea titlearea titlearea" "congratsarea congratsarea congratsarea congratsarea" "horizontalmainarea horizontalmainarea horizontalmainarea verticalarea" "horizontalmainarea horizontalmainarea horizontalmainarea verticalarea" "horizontalsecondaryarea horizontalsecondaryarea horizontalsecondaryarea verticalarea";
}

.globallayout main .content .horizontalmainarea {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: horizontalmainarea;
}

.globallayout main .content .horizontalsecondaryarea {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: horizontalsecondaryarea;
}

.globallayout main .content .verticalarea {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  grid-area: verticalarea;
}

.globallayout main .content .titlearea {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: titlearea;
  color: #000000;
}

.globallayout main .content .congratsarea {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: congratsarea;
}
/*# sourceMappingURL=GlobalLayout.css.map */