@import "../../assets/Styles/variables.scss";
@import "../../assets/Styles/mixin.scss";

.singlevalueindicatorarea {
	height: 120px;
	width: 100%;
	min-width: 200px;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	border-radius: 4px;
	@include small-device-generic {
min-width: none;
	}
	.iconarea {
		margin-left: 5%;
		aspect-ratio: 1 / 1;
		padding: 10%;
		width: 10%;
		border-radius: 6px;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		&.calorie {
			background-color: rgba($primary-color, 0.1);
		}
		&.protein {
			background-color: rgba($fifthly-color, 0.1);
		}
		&.carbohydrate {
			background-color: rgba($ninethly-color, 0.1);
		}
		&.lipid {
			background-color: rgba($sixthly-color, 0.1);
		}
	}
	.dataarea {
		margin-left: 5%;
		font-size: 2.4rem;
		font-weight: 700;
		@include small-device-generic {
			font-size: 1.8rem;
		}
		.category {
			color: $seventhly-color;
			font-size: 1.4rem;
		}
	}
	background-color: $secondary-color;
}
