@import "../../assets/Styles/variables.scss";
@import "../../assets/Styles/mixin.scss";

.verticalnavbar {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items:center;
		flex: 0 0 40%;
}
