@import "../../assets/Styles/variables.scss";
@import "../../assets/Styles/mixin.scss";
.horizontalsecondaryarea{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	border-radius: 4px;
	gap:2%;
}
