@import "../../assets/Styles/variables.scss";
@import "../../assets/Styles/mixin.scss";
.horizontalsecondaryarea{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
    // background-color: $secondary-color;
	border-radius: 4px;
	gap:30px;
	// height: 280px;

}
