@import "../../assets/Styles/variables.scss";
@import "../../assets/Styles/mixin.scss";

.horizontalnavbar {
	width: 100%;
	font-size: 2.4rem;
	margin: 0px;
	ul {
		padding: 0;
		margin: 0;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
	}
	li {
		padding: 0px ;
		margin: 0;
		list-style-type: none;
		white-space: nowrap;
		a {
			color: $primary-color;
			text-decoration: none;
			&.active {
				text-decoration: underline;
			}
		}
	}
}
