@import "../../assets/Styles/variables.scss";
@import "../../assets/Styles/mixin.scss";

.horizontalnavbar {
	flex: 0 0 80%;
	font-size: 2.4rem;
	margin: 10px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	ul {
		padding: 0;
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
	}
	li {
		padding: 0px 15px;
		list-style-type: none;
		white-space: nowrap;
		a {
			color: $primary-color;
			text-decoration: none;
			&.active {
				text-decoration: underline;
			}
		}
	}

	// @include small-generic {
	// 	flex-grow: 3;
	// 	margin: 0px;
	// 	font-size: 1.5rem;
	// 	li {
	// 		padding: 5px;
	// 	}
	// }
	// @include mobile-generic {
	// 	flex-grow: 3;
	// 	margin: 0px;
	// 	font-size: 1.5rem;
	// 	li {
	// 		padding: 5px;
	// 	}
	// }
}
