@import "../../assets/Styles/variables.scss";
@import "../../assets/Styles/mixin.scss";

.horizontalnavbar {
	// flex: 0 0 90%;
	width: 100%;
	font-size: 2.4rem;
	margin: 0px;
	// display: flex;
	// flex-flow: row nowrap;
	// justify-content: space-between;
	// align-items: center;
	ul {
		padding: 0;
		margin: 0;
		// width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
	}
	li {
		padding: 0px ;
		margin: 0;
		list-style-type: none;
		white-space: nowrap;
		a {
			color: $primary-color;
			text-decoration: none;
			&.active {
				text-decoration: underline;
			}
		}
	}

	// @include small-generic {
	// 	flex-grow: 3;
	// 	margin: 0px;
	// 	font-size: 1.5rem;
	// 	li {
	// 		padding: 5px;
	// 	}
	// }
	// @include mobile-generic {
	// 	flex-grow: 3;
	// 	margin: 0px;
	// 	font-size: 1.5rem;
	// 	li {
	// 		padding: 5px;
	// 	}
	// }
}
