@import "../../assets/Styles/variables.scss";
@import "../../assets/Styles/mixin.scss";

header {
	width: 100%;
	height: 10vh;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	background-color: $black-color ;
	color: $white-color;
	.header-logo {
		flex: 0 0 10%;
		// width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		padding-left: 4rem;
	}
}
